@import url(vars.css);
.panel {
    padding: 15px;
    display: block;
    align-items: center;
    align-content: center;
    width: 80%;
    min-height: 200px;
    height: auto;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    /* box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.247); */
    transition: 0.5s;
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
    font-size: 16pt;
    font-family: var(--font);
    color: var(--font-color);
    z-index: 1;
}
.panel:hover {
    /* border: 1px solid rgba(150, 150, 150, 0.25); */
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.651);
}